.record{
  /* width: 25%; */
  margin: 0 2% 5% 0;
  padding: 7% 5%;
  /* display: inline-block; */
}

.record-head{
  font-size: 1.5rem;
}

.row{
  margin: 0;
}

.number{
  font-size: 1.7rem;
}

.month, .number-text{
  font-size: 0.8rem
}

.apply, .manage{
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid;
  border-radius: 10px;
  padding: 3% 2%;
}

.apply{
  background-color: #f3d4ff;
  border-color: #f3d4ff;
}

.apply:hover{
  background-color: #f3b5ff;
}

.manage{
  background-color: white;
}

.manage:hover{
  background-color: #eee;
}

.button-col{
  margin: auto 5%;
}
